<%- include partials/header.ejs %> 
 <%- include partials/main_nav.ejs %>

  <h2>About Me</h2>
  <img valign="center" src="Sinthu_img.jpg" alt="">
  <h3>Legal Name : Sinthuvarsni Devaraju</h3>
  
  <tr> 
    <td valign="top">About me: </td>
    <td>
        I am Sinthuvarsni Devaraju. Student at Centennial college. <br>
        I have 7 yrs of experience as a performance test engineer. <br>
        With intrest of exploring new culture I have moved to Canada. <br>
    </td>
    <br>    
    <td>Resume: </td>
    <td><a href="Sinthuvarsni_Resume.pdf">Click Here</a></td>
</tr>

  <a class="nav-link" href="/contactme"><i class="fas fa-phone-square-alt"></i> Contact me</a>
   <a class="nav-link" href="/projects">Projects</a>
  <br>
  <br>
  <br>
  <br>
  <%- include partials/bottom_nav.ejs %>
 