<%- include partials/header.ejs %> 
 <%- include partials/main_nav.ejs %>

  <h2>About Me</h2>
  <img valign="center" src="Sinthu_img.jpg" alt="">
  <h3>Legal Name : Sinthuvarsni Devaraju</h3>
  
  <tr> 
    <td valign="top">About me: </td>
    <td>
        My name is Anthony D'costa. I'm an B.S. student at University of Sample Computer Science and Mathematics Department. I was born and raised in Chandigarh, India. <br>
        I did senior schooling from Chandigarh Convent School, India.  <br>
        I like to travel. I believe travelling gives you a new perspective to everything. You get to know a lot about the different cultures, the cuisines, their history, the language and all the small unique things every place has to offer.
    </td>
    <br>    
    <td>Resume: </td>
    <td><a href="Sinthuvarsni_Resume.pdf">Click Here</a></td>
</tr>

  <a class="nav-link" href="/contactme"><i class="fas fa-phone-square-alt"></i> Contact me</a>
  <br>
  <br>
  <br>
  <br>
  <%- include partials/bottom_nav.ejs %>
 