<%- include partials/header.ejs %> 
 <%- include partials/main_nav.ejs %>

  <h1>Welcome to my Homepage</h1>
  <br>
<div style="padding-top: 20px;">
    
    
    <strong>Mission</strong> <br>
    I strongly Believe in YOLO..! You Only Live Once.<br>
    Do the best possible.<br>
    Live your best possible.<br>
    <br>
    <br>
    <br>
    You can click below link to know more about me. <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> Click Here</a>
</div>
   

  <a class="nav-link" href="/contactme"><i class="fas fa-phone-square-alt"></i> Contact me</a>
  
  <%- include partials/footer.ejs %> 
  <%- include partials/bottom_nav.ejs %>