<%- include partials/header.ejs %> 
 <%- include partials/main_nav.ejs %>
 <h2>Project Details</h2><br>
 <h3>Project 1 : Schneider electric</h3>
  <img valign="center" src="Schind.jpg" alt="" width="250" height="250">
    <br>
  <tr> 
    <td>
        Spice Intranet Employee Portal is a global intranet portal platform for Schneider.
The project built on Liferay 6.1.3 platform along with single sign on, integration with
Lifery Content Management system and development on custom JSR 286 portlets which suites
their requirement <br>
Prime responsibility of this role is to complete Test Execution for a defined module.
Develop test cases, identify and report bugs. <br>
      
    </td>
    <h3>Project 2 : ASDA</h3>
  <img valign="center" src="asda.jpg" alt="" width="250" height="250">
  <br>
  <tr> 
    <td>
        ASDA – Walmart UK, one of the leading retail market. Deals with network of stores and online 
services, including supercenters, superstores, supermarkets, living stores, petrol filling stations and 
depots across the UK. <br>
Ensuring timely deliverables and weekly status reports, Test Execution Report and timely 
response to queries from clients and other stakeholders.Achieve test execution productivity, ensure defect management as per process and timely release 
of test dashboard. <br>
            </td>
            <h3>Project 3 : Primark</h3>
            <img valign="center" src="primark.jpeg" alt="" width="250" height="250">
            <br>
            <tr> 
              <td>
                PRIMARK is an Irish Fast Fashion Retailer, Offering diverse range of products, stocking 
                everything from baby and kids, to womens, mens, home ware, accessories, beauty products and 
                confectioner <br>
                Ensuring defect management as per process and timely release of test dashboard. Ensuring timely deliverables and weekly status reports, Test Execution Report and timely 
          response to queries from clients and other stakeholders.Achieve test execution productivity, ensure defect management as per process and timely release 
          of test dashboard. <br>
                      </td>
<br><br><br>
                      <%- include partials/footer.ejs %> 
                      <%- include partials/bottom_nav.ejs %>