<%- include partials/header.ejs %> 
 <%- include partials/main_nav.ejs %>

 <h2>Services Provided</h2><br>
 <h3>Service 1 : Performance Testing</h3>
  <img valign="center" src="performance-testing.jpg" alt="" width="250" height="250">
    <br>
  <tr> 
    <td>
      Performance testing, a non-functional testing technique performed to determine the system parameters in terms of responsiveness and stability under various workload. Performance testing measures the quality attributes of the system, such as scalability, reliability and resource usage. <br>
          </td>
          <br>
    <h3>Service 2 : OAT/h3>
  <img valign="center" src="OAT.jpg" alt="" width="250" height="250">
  <br>

    <td>
      OAT tests involve verification of procedures, such as performance, stress, volume, support processes, security, backup, and the existence of alerts. Typically, OAT occurs after user acceptance testing (UAT) and is a final verification before a system is released.
      <br>
            </td>
            </tr>
<br><br><br>
                      <%- include partials/footer.ejs %> 
                      <%- include partials/bottom_nav.ejs %></br>